/* https://twitter.com/StarWarsUK/status/1690287007673593856 */

.colour1{
    color: #0f1b27;
}

.colour2{
    color: #01797a;
}

.colour3{
    color: #0aa5a9;
}

.colour4{
    color: #f8f6df;
}

.colour5{
    color: #255967;
}

.colour6{
    color: #193445;
}

.colour7{
    color: #2e826a;
}

.colour8{
    color: #34a086;
}

.colour9{
    color: #97e0d9;
}

.colour10{
    color: #0f2a33;
}