/* https://twitter.com/StarWarsUK/status/1679777351025000448 */

.colour1{
    color: #101012;
}

.colour2{
    color: #d4c396;
}

.colour3{
    color: #a9585d;
}

.colour4{
    color: #7d5840;
}

.colour5{
    color: #4d403d;
}

.colour6{
    color: #544d42;
}

.colour7{
    color: #350e10;
}

.colour8{
    color: #aeb8dd;
}

.colour9{
    color: #3c3739;
}

.colour10{
    color: #3a3b36;
}