/* https://twitter.com/StarWarsUK/status/1668910190597492736 */

.colour1{
    color: #2e4040;
}

.colour2{
    color: #0f232c;
}

.colour3{
    color: #384d2e;
}

.colour4{
    color: #676862;
}

.colour5{
    color: #74624c;
}

.colour6{
    color: #bdc9b3;
}

.colour7{
    color: #616f7c;
}

.colour8{
    color: #8aa6be;
}

.colour9{
    color: #d78972;
}

.colour10{
    color: #647481;
}